<h1>Images of my pets</h1>
<ul id="image_list">
  <% @images.each do |i| %>
    <li class="image_elem">
    <%= image_tag "/images/#{i.filename}.jpg", :class => "image" %>
      <div class="caption">
        <%= form_tag "images/tag", :class => "tag_form", :remote => true do %>
          <%= hidden_field_tag "image_id", i.id %>
          <%= submit_tag "Tag", :style => "float:right;" %>
          <%= text_field_tag "tag", "", :class => "text #{i.id}" %>
        <% end %>
        <strong>In picture:</strong>
        <div class="name_list <%= i.id %>">
          <% i.pet_list.each do |p| %>
            <%= p %><%= ", " unless p == i.pet_list.last %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
